iframe {
	width:235px;
	height:107px;
	border-bottom: #E5E5E5 1px solid;
}

.Layer1{
	position:absolute; 
	width:240px;
	height:440px;
	z-index:1;
}
.mask{
	position:absolute;
	left:28px;
	top:54px; 
	width:240px;
	height:438px;
	z-index:2;
	clip: rect(0px,240px,438px,0px);
}
table{
	width: 277px;
	border:0px;
}
img{
	width:277px;
 	height:531px;
}