/*

Landing page.css
Ziv Kalderon
12/10/2014

*/

body{
	margin: 0px;
	padding: 0px;
}

.mainContainer{
	width: 770px;
}

.loginBar{
	background-color: #3E5B9F;
	height: 220px;
}

.BeepMe{
	color: white;
	font-family: 'Expletus Sans', sans-serif;
	font-size: 50px;
	margin: 0px;
	text-align: center;
	float: left;
	margin-left: 49%;
	margin-top: 140px;
	border-radius: 1px;
}

.loginButton{
	color: white;
	background-color: #98B1F1;
	text-align: center;
	margin-top: 150px;
	margin-left: 50px;
	height: 40px;
	width: 120px;
	border: 0px;
}

.loginButton:hover {
    background-color: #DA70D6;
}

.content{
	margin-top: 100px;
	margin-left: 49%;
	margin-bottom: 0px;
}
.numOfRides{
	font-family: ariel;
	font-size: 45px;

	float: left;
	color: #9497A8;
}

.ridesLabel{
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 25px;
	color: #9497A8;

	margin-top: 18px;
	float: left;
	margin-left: 10px;
}

.partner{
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 22px;
	float: left;

	margin-left: 49%;
	margin-top: -10px;
	margin-bottom: 92px;
	color: #333333;
}

.find{
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 20px;
	margin-left: 49%;
	float: left;
	margin-bottom: 5px;
	color: #7A7A7A;
}


.appStoreLogo{
	height: 40px;
	width: 129px;
	margin-left: 49%;
}

.googlePlayLogo{
	height: 40px;
	width: 129px;
	margin-left: 40px;
}

.liveFeed,iframe{
	float:left;
	position: absolute ;
  	border:0px;
  	top:5px;
  	margin-left:0px;
}


/*Footer*/
ol{
	list-style-type: none;
	float:left;
	margin-left: 13%;
	margin-top: 50px;
}

li{
	  font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	  color: #9497A8;
	  font-weight: bold;
	  font-size: 18px;
	  display: inline;
	  margin: 30px;
}
li:hover{
	color: #000;
}

#polyglotLanguageSwitcher{
	float: right;
	border:0px;
}