/*

Landing page.css
Ziv Kalderon
12/10/2014

*/
#mainContainer{
	width: 770px;
}

#loginBar{
	background-color: #3E5B9F;
	height: 220px;
}

#BeepMe{
	color: white;
	font-family: 'Expletus Sans', sans-serif;
	font-size: 50px;
	margin: 0px;
	text-align: center;
	float: left;
	margin-left: 49%;
	margin-top: 140px;
	border-radius: 1px;
}

#loginButton{
	color: white;
	background-color: #98B1F1;
	text-align: center;
	margin-top: 150px;
	margin-left: 50px;
	height: 40px;
	width: 120px;
	border: 0px;
}
#loginButton:hover {
    background-color: #DA70D6;
}

#numOfRides{
	font-family: ariel;
	font-size: 55px;
	/*float: left;*/

	margin-left: 49%;
	margin-top: -88px;
	color: gray;
}

#ridesLabel{
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 35px;
	/*float: left;*/
	color: gray;

	text-align: center;
	margin-left: 550px;
	margin-top: 100px;
}

#partner{
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 26px;
	/*float: left;*/

	margin-left: 49%;
	margin-top: -49px;
}

#find{
	font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
	font-size: 22px;

	/*float: left;*/
	margin-top: 90px;
	margin-left: 49%;
	margin-bottom: 0px;
}

#googlePlayLogo{
	height: 40px;
	width: 129px;
	float:right;
	position: absolute;
  	right: 50%;
  	margin-right: -107px;
}

#appStoreLogo{
	height: 40px;
	width: 129px;
	float:right;
	position: absolute;
  	right: 50%;
  	margin-right: -255px;
  	margin-top: 0px;
}


#liveFeed,iframe{
	float:left;
	position: absolute ;
  	right: 50%;
  	margin-right: 80px;
  	border:0px;
  	top:30px
}


/*Footer*/
ol{
	list-style-type: none;
	float:right;
	margin-right: 47%;
	margin-top: 100px;
}

li{
	  display: inline;
	  margin: 40px;
}

#polyglotLanguageSwitcher{
	float: right;
	border:0px;
}